
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@700&display=swap');
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* common style shared */
.common-description-color{
    color: #534C64;
    font-size: 0.8rem;
}
.common-heading-color{
    color: #0B0223;
    font-size: 1.5rem;
    font-weight: 700;
}
/* header section */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav{ 
    
    display: flex;
    justify-content:space-between;
    max-width: 1100px;
    margin: 0 auto;
}
#g-design{
    color:#F948B2;
}
.logo-container img{
    width: 40%;
    height: 40%;
}
.logo-container{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.link-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-container ul li{
  list-style: none;
  margin-right: 25px;
  margin-top: 10px;
}
.link-container ul li>a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

}
/* main part */
main{
    max-width: 1100px;
    margin: 0 auto;
}
/* banner section */
.banner-container{
    display: flex;
    align-items: center;
    padding-top:40px;
    margin-bottom: 100px;
}

/* .banner-content{
    max-width: 500px;
} */
.banner-title{
    color: #0B0223;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0px;
}
.banner-description-goat{

    font-size: 2rem;
    font-weight: 800;
    color:#e32397;
    margin-top: -5px;
    margin-bottom: 0px;
}
.btn-primary{
    color: #FFF;
    border: none;
    font-family: Work Sans;
    font-weight: 600;
    border-radius: 48px;
    background-color:#FF42A5;
    padding: 20px 40px;
    margin-top: 10px;
    margin-left: 0px;
}
.btn-secondary{
    color: #FFF;
    border: none;
    font-weight: 600;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 15px 30px;
    margin-left: 20px;
}

.banner-img img{
    width: 100%;
}
.banner-img{
    max-width: 400px;
    margin-left: 300px;
}
/* vedio section */
.vedio-title{
    color: #8758F1;
}
.vedio-section{
   margin-bottom: 150px;
   margin-top: 50px;
}
.vedio-content{
    text-align: center;
}

.vedio-img{
    display: flex;
    gap:20px;
    margin-top: 30px;
}
.rectangle-img img{
    width: 100%;
}
/* play section */


.play-section{
    display: flex;
    justify-content: center;
    margin-left: 150px;
}
.play-content{
    margin-right: 100px;
    text-align: center;
}
.play-title{
    color:#F948B2;
}

.play-horse img{

    width: 100%;
}
.play-cute img{
    width: 50%;
}
.play-cute{
    position: relative;
    top:-30%;
    left: -20%;
}
/* ball design */
 .ball-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
 }

.ball-design{
    display: grid;
    grid-template-columns: repeat(2,90px);
    align-items: center;
    padding: 5px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    color: #0B0223;
    margin-right: 20px;
    margin-top: 10px;
}
.ball-design:hover{
    border:1px solid rgb(219, 67, 118);
    border-radius: 50px;
    color:#FF42A5;
}
.ball-design p{
    font-size: 0.6rem;
    margin-left: 0px;
    
}
.ball-design img{
    width: 60%;
}

/* footer section */
footer{
    background-color: #0B0223;
    color:white;
}
.footer-logo{
    display: flex;
    justify-content: center;
    gap: 20px;
} 
.list-design ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.list-design ul>li{
    list-style: none;
    margin-right: 30px;
}

@media screen and (max-width:576px) {
    nav,nav ul,.vedio-img,.play-section{
        flex-direction: column;
    }
    header{
        background-color: none;
        box-shadow: none;
    }
    .logo-container img{
        width: 20%;
        height: 30%;
    }
    .link-container ul li{
        margin-top: 20px;
    }


    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content{
        padding: 80PX;
        margin-left: 30px;
        margin-top: 60px;
        background-color: hsl(342, 63%, 97%);
    }
    .banner-img img{
        width: 80%;
        margin:0 auto;
    }
    .banner-img{
             margin-left: 100px;
    }
    .btn-primary{
        padding:5px 10px;
        font-size: 0.7rem;
    }
    .btn-secondary{
        padding:5px 10px;
        margin-left: 5px;
        font-size: 0.7rem;
    }
    
    .banner-description{
        font-size: 0.5rem;
    }
    /* vedio section */
    .vedio-section{
        margin: 0 auto;
    }
    /* .vedio-content{
        margin-left: 30px;
    } */
    .vedio-img{
     margin-left: 50px;
    }

    .common-heading-color{
        font-size: 1rem;
    }
    .vedio-description{
        font-size: 0.7rem;
    }
    .rectangle-img img{
        width: 90%;
    }
    /* play section */
    .play-section{
        margin:0 auto;
    }
    .play-horse img {
        width: 80%;
    }
    .common-description-color {
        font-size: 0.7rem;
    }
    /* ball section */
    .ball-container{
        display: grid;
        grid-template-columns: repeat(3,180px);
        padding-left: 200px;
        margin-top: 150px;
        margin-bottom: 30px;
    }
    .ball-design p{
        font-size: 0.5rem;
        margin-left: 0px;
        
    }
    .ball-design img{
        width: 60%;
    }
    .ball-design{
        display: grid;
        grid-template-columns: repeat(2,70px);
    }
    .play-horse img{

        width: 80%;
        margin-left: 30px;
    }
    .play-cute img{
        width: 50%;
        margin-left: 10px;
    }
    .play-cute{
        position: relative;
        top: -80px;
        left: -20px;
    }


    footer{
        padding: 100px 300px;
    }
    
}



