
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@700&display=swap');
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* common style shared */
/* header section */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav{ 
    
    display: flex;
    justify-content:space-between;
    max-width: 1100px;
    margin: 0 auto;
}
.logo-container img{
    width: 40%;
    height: 40%;
}
.logo-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.link-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-container ul li{
  list-style: none;
  margin-right: 25px;
}
.link-container ul li>a{
    text-decoration: none;
}
/* main part */
main{
    max-width: 1100px;
    margin: 0 auto;
}
/* banner section */
.banner-container{
    display: flex;
    align-items: center;
    padding-top:40px;
    margin-bottom: 100px;
}

/* .banner-content{
    max-width: 500px;
} */
.banner-title{
    color: #0B0223;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0px;
}
.banner-description-goat{

    font-size: 2rem;
    font-weight: 800;
    color:#e32397;
    margin-top: -5px;
    margin-bottom: 0px;
}
.banner-description{
    color: #534C64;
    font-size: 0.8rem;
}
.btn-primary{
    color: #FFF;
    border: none;
    font-family: Work Sans;
    font-weight: 600;
    border-radius: 48px;
    background-color:#FF42A5;
    padding: 20px 40px;
    margin-top: 10px;
    margin-left: 0px;
}
.btn-secondary{
    color: #FFF;
    border: none;
    font-weight: 600;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 15px 30px;
    margin-left: 20px;
}

.banner-img img{
    width: 100%;
}
.banner-img{
    max-width: 400px;
    margin-left: 300px;
}
/* vedio section */
.vedio-section{
   margin-bottom: 150px;
   margin-top: 50px;
}
.vedio-content{
    text-align: center;
}

.vedio-img{
    display: flex;
    gap:20px;
}
.rectangle-img img{
    width: 100%;
}
/* play section */
.play-section{
    display: flex;
    margin-left: 300px;
}
.play-horse img{

    width: 100%;
}
.play-cute img{
    width: 50%;
}
.play-cute{
    position: relative;
    top:-30%;
    left: -20%;
}
/* footer section */
footer{
    background-color: #0B0223;
    color:white;
}

@media screen and (max-width:576px) {
    nav,nav ul,.vedio-img,.play-section{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-img{
             margin-left: 0px;
    }
    .btn-primary{
        padding:5px 10px;
        font-size: 0.7rem;
    }
    .btn-secondary{
        padding:5px 10px;
        margin-left: 5px;
        font-size: 0.7rem;
    }
    
    .banner-description{
        font-size: 0.5rem;
    }
    
}

