
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@700&display=swap');
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* common style shared */
.common-description-color{
    color: #534C64;
    font-size: 0.8rem;
}
.common-heading-color{
    color: #0B0223;
    font-size: 1.5rem;
    font-weight: 700;
}
/* header section */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.icon-style-1{
 border:none;
 border-radius: 8px;
background: rgba(201, 78, 174, 0.1);
 font-size: 1rem;
 padding: 1rem;
}

nav{ 
    
    display: flex;
    justify-content:space-between;
    padding: 0px 100px;
}
#g-design{
    color:#F948B2;
    
}
.logo-container img{
    width: 40%;
    height: 40%;
}
.logo-container{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.link-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-container ul li{
  list-style: none;
  margin-right: 25px;
  margin-top: 10px;
}
.link-container ul li>a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

}
/* main part */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* banner section */
.banner-container{
    display: flex;
    align-items: center;
    padding-top:40px;
    margin-bottom: 100px;
}

/* .banner-content{
    max-width: 500px;
} */
.banner-title{
    color: #0B0223;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0px;
}
.banner-description-goat{

    font-size: 2rem;
    font-weight: 800;
    color:#e32397;
    text-shadow: 2px 2px 2px #de3edb;
    margin-top: -5px;
    margin-bottom: 0px;
}
.btn-primary{
    color: #FFF;
    border: none;
    font-family: Work Sans;
    font-weight: 600;
    border-radius: 48px;
    background-color:#FF42A5;
    padding: 20px 40px;
    margin-top: 10px;
    margin-left: 0px;
}
.btn-secondary{
    color: #FFF;
    border: none;
    font-weight: 600;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 15px 30px;
    margin-left: 20px;
}

.banner-img img{
    width: 100%;
}
.banner-img{
    max-width: 400px;
    margin-left: 300px;
}
/* vedio section */
.vedio-title{
    color: #8758F1;
    text-shadow: 2px 2px 2px #de3edb;
}
.vedio-section{
   margin-bottom: 150px;
   margin-top: 50px;
}
.vedio-content{
    text-align: center;
}

.vedio-img{
    display: flex;
    gap:20px;
    margin-top: 30px;
}
.rectangle-img img{
    width: 100%;
}
.img-container{
    position: relative;
    display: inline-block;
}
.overly{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container:hover .overly{
    opacity: 1;
}
.play-button{
    display: inline-block;
    background-color: #fff;
    color:#000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

/* play section */


.play-section{
    display: flex;
    justify-content: center;
    margin-left: 150px;
}
.play-content{
    margin-right: 100px;
    text-align: center;
}
.play-title{
    color:#F948B2;
}

.play-horse img{

    width: 100%;
}
.play-cute img{
    width: 50%;
}
.play-cute{
    position: relative;
    top:-30%;
    left: -20%;
}
/* ball design */
 .ball-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 50px;
    justify-content: center;
 }

.ball-design{
    display: grid;
    grid-template-columns: repeat(2,90px);
    align-items: center;
    padding: 5px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    color: #0B0223;
    margin-right: 20px;
    margin-top: 10px;
}
.ball-design:hover{
    border:1px solid rgb(219, 67, 118);
    border-radius: 50px;
    color:#FF42A5;
}
.ball-design p{
    font-size: 0.6rem;
    margin-left: 0px;
    
}
.ball-design img{
    width: 60%;
}

/* footer section */
footer{
    background-color: hsl(251, 85%, 3%);
    color:white;
    padding: 100px 100px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    gap: 20px;
} 
.list-design ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.list-design ul>li{
    list-style: none;
    margin-right: 30px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 600;

}
.icon-container{
    display: flex;
    justify-content: center;
}
.icon-container li{
    list-style: none;
    padding: 20px;
}
.icon-style{
    padding: 10px;
    border:none;
    background-color: #FFF;
    border-radius: 10px;
    font-size: 2rem;
}
.list-design-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.list-design-2 li{
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 10px;

}
.footer-last{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;

}

@media screen and (max-width:576px) {
    nav,nav ul,.vedio-img,.play-section{
        flex-direction: column;
    }
    nav{
        padding: 0px 0px;
    }
    .logo-container img{
        width: 20%;
        height: 30%;
    }
    .link-container ul li{
        margin-top: 20px;
    }


    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .banner-content{
        padding: 50PX;
        padding-left: 60px;
        /* text-align: center; */
        margin-left: 20px;
        margin-top: 40px;
        background-color: hsl(342, 63%, 97%);
    }
    .banner-img img{
        width: 80%;
        margin:0 auto;
    }
    .banner-img{
             /* margin-left: 100px; */
                text-align: center;
                margin-left: 0px;
            
    }
    .btn-primary{
        padding:5px 10px;
        font-size: 0.7rem;
    }
    .btn-secondary{
        padding:5px 10px;
        margin-left: 5px;
        font-size: 0.7rem;
    }
    
    .banner-description{
        font-size: 0.5rem;
    }
    /* vedio section */
    .vedio-section{
        text-align: center;
        margin-bottom: 60px;
    }
    /* .vedio-content{
        margin-left: 30px;
    } */
    /* .vedio-img{
     margin-left: 50px;
    } */

    .common-heading-color{
        font-size: 1rem;
    }
    .vedio-description{
        font-size: 0.7rem;
    }
    .rectangle-img img{
        width: 70%;
    }
    /* play section */
    .play-section{
        text-align: center;
    }
    .play-horse img {
        width: 70%;
    }
    .common-description-color {
        font-size: 0.6rem;
    }
   /* ball section */
     .ball-container{
        display:none;
        grid-template-columns: repeat(3,1fr);
        padding-left: 70px;
        margin-top: 150px;
        margin-bottom: 30px;
        justify-content: center;
    }
    .ball-design p{
        font-size: 0.5rem;
        margin-left: 0px;
        
    }
    .ball-design img{
        width: 60%;
    }
    .ball-design{
        display: grid;
        grid-template-columns: repeat(2,70px);
    }
    /* plaay section */
    .play-content{
           text-align: center;
           margin-right: 0px;
           margin-bottom: 20px;
    }
     .play-section{
        text-align: center;
        margin-left: 0px;
     }

    .play-horse img{

        width: 70%;
        /* margin-left: -10px; */
    }
    .play-cute img{
        width: 40%;
        position: relative;
        top: -80px;
        left: 60px;
        margin-left: -150px;
    }
    /* .play-cute{
        position: relative;
        top: -80px;
        left: -20px;
    } */
    footer{
        margin-top: 20px;
        padding: 20px;
        font-size:0.8rem;
    }
    .footer-logo{
        padding: 30px;
    }
    .list-design ul>li{
        font-size: 0.5rem;
    }
    .footer-last{
        font-size: 0.5rem;
    }
    .list-design-2 li{
        font-size: 0.6rem;
    }
    
}



